$color-primary: #65dfc9;
$color-secondary: #6cdbeb;
$color-tertiary: #4487c9;
$color-tertiary-light: #53a9ff;

$color-white: #fff;
$color-black: #000;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size:10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}
